@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #e2d4bb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --color-main: var(--main)
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

.main-dotted-bg {
  background-image: radial-gradient(circle, #e0e0e0 1.5px, transparent 1.5px);
  background-size: 24px 24px;
  min-width: 100vw;
  min-height: 100%;
}

*::selection {
  color: var(--background);
  background-color: var(--foreground);
}

.highlight {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=fd379a);
}